/* layout.css */
.main-content{
    display: flex;
}
.main-landing-page{
    flex-grow: 1;
}
.side-bar-btns-container {
    display: flex;
}
.playlists-container
.vids-container {
    display: flex;
    flex-direction: column;
}
.vid {
    text-wrap: wrap;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 1;
    border: 1px solid blue;
    flex-basis: 50%;
    width: 40%;
    font-size: .8rem;
    
}