.step {
    position: relative;
}
video,
img{
    transition: all .3s;

}
.enlarge {
    position: absolute;
    z-index: 2;
    transform: scale(4);
    left: 34%;
    /* transition: left 1s; */
    /* transform 0.6s ease,  */
    transition: left 4.6s ease;
                     
}